.custom-input .react-international-phone-country-selector-button{
    border: none;
    border-right: 1px solid #D0D5DD;
    padding-right: 8px;
    height: 100%;
  }
  
  .custom-input .react-international-phone-input{
    /* border: none !important; */
    /* outline: none; */
    width: 100%;
    height: 100%;
    border-left: 1px solid blue !important ;
    /* border: 4px solid red; */
    
  }

  /* .phone-input-custom:focus{
    outline: 1.5px solid #1D71B8;
    border: 1.5px solid #1D71B8;
  } */

   .PhoneInputInput{
    outline: none;
  
  }

  form input,textarea{
    outline: none;
  }