.arrow_icon{
    transform: rotate(180deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


.button-texts {
    flex: none;
    display: block;
}


.button-texts-abs{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translateY(150%);
    display: inline-block;
}

.flip-button{
    transition: transform .4s cubic-bezier(.215,.61,.355,1);
    position: relative;   
    transform: translate(0);
    display: inline-block;
}

.flip-button.active{
    transform: translateY(-150%);
    color:#0E5EA2;
}

.drop-down.active {

    transform-origin: 50% 0;

    transition: transform .5s;

    transform: perspective(800px)rotate(0)
}

.drop-down {
    transform-style: preserve-3d;
    transform: perspective(800px)rotateX(-5deg)rotateY(0)rotate(0)
}

.drop-down li:hover svg{
    display: block;
}


