.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 90px;
}

.slider-outer .swiper.swiper-initialized.swiper-horizontal{
    height: 550px;
}
.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background-color: #1D71B8;
}

.slider-outer .btn-prev{
    background-image: url('/prevArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.slider-outer .btn-next{
    background-image: url('/nextArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.btn-prev, .btn-next{
    /* background-color: yellow; */
    color: white;
    opacity:1;
    z-index: 10;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    /* background-image: url('/arrow.svg');
    background-repeat: no-repeat;
    background-position: center; */
    content: '';
}

.slider-outer .swiper-wrapper .swiper-slide {
    /* width:auto !important; */
    display: flex;
    justify-content: center;
}
