@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Narwa-Bold";
  src: url("/fonts/Narwa-BoldTRIAL.otf");
}

@font-face {
  font-family: "Narwa-SemiBold";
  src: url("/fonts/Narwa-SemiBoldTRIAL.otf");
}

@font-face {
  font-family: "Konsole-Regular";
  src: url("/fonts/Konsolev1.1TRIAL-Regular.woff");
}

@font-face {
  font-family: "Konsole-Regular2";
  src: url("/fonts/Konsolev1.1TRIAL-Regular.woff2");
}
@font-face {
  font-family: "Konsole-Semibold";
  src: url("/fonts/Konsolev1.1TRIAL-Semibold.woff");
}
@font-face {
  font-family: "Konsole-Bold";
  src: url("/fonts/Konsolev1.1TRIAL-Bold.woff");
}


@layer components {
  /* .btn-orange {
    @apply bg-custom-button font-ttCommonProMedium font-semibold tracking-[0.8px] text-btn-text hover:bg-btn-hover;
  } */
   .nav-container{
    @apply w-full px-5 lg:max-w-[1000px] lg:px-0 extra-xl:max-w-[1280px]
   }
  .main-container{
    @apply px-5 lg:px-0 w-full max-w-[1000px];
  }
  .heading-h1{
    @apply font-narwaBold text-[40px] leading-[50px] md:text-[50px] md:leading-[60px] lg:text-[60px] lg:leading-[75px] ;
  }
  .heading-h2{
    @apply font-narwaSemiBold font-semibold text-[32px] leading-[40px] md:text-[36px] md:leading-[45px] lg:text-[42px] lg:leading-[52.5px];
  }
  .sub-heading{
    @apply font-konsoleRegular text-lg leading-[27px] md:text-xl md:leading-[28px] lg:text-2xl lg:leading-[36px] ;
  }
  .sub-heading2{
    @apply font-konsoleRegular font-normal text-lg leading-[27px] lg:text-xl lg:leading-[30px] ;
  }
  .card-heading{
    @apply font-narwaSemiBold font-semibold text-2xl leading-[30px] lg:text-[28px] lg:leading-[35px] text-white;
  }
  .card-btn{
    @apply h-[46px] w-[173px] font-konsoleRegular font-semibold text-sm text-white bg-custom-blue rounded-lg hover:bg-active-blue;
  }
  .services-pill
  {
    @apply bg-[#E5F3FF] text-custom-blue flex items-center px-3 py-2 font-konsoleSemibold text-xs leading-[18px] uppercase rounded-[50px];
  }
  /* ... */
}

.footer-links a:hover{
  text-decoration: underline;
  color: #0E5EA2;
}