@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Narwa-Bold";
  src: url("/fonts/Narwa-BoldTRIAL.otf");
}

@font-face {
  font-family: "Narwa-SemiBold";
  src: url("/fonts/Narwa-SemiBoldTRIAL.otf");
}

@font-face {
  font-family: "Konsole-Regular";
  src: url("/fonts/Konsolev1.1TRIAL-Regular.woff");
}

@font-face {
  font-family: "Konsole-Regular2";
  src: url("/fonts/Konsolev1.1TRIAL-Regular.woff2");
}


@layer components {
  /* .btn-orange {
    @apply bg-custom-button font-ttCommonProMedium font-semibold tracking-[0.8px] text-btn-text hover:bg-btn-hover;
  } */
  .main-container{
    @apply w-full max-w-[1000px]
  }
  /* ... */
}